version: "3.9"
networks:
  prototyping: {}

services:
  server:
    attach: false
    build: 
      context: .
      dockerfile: docker/Server.Dockerfile
    container_name: demo-server
    runtime: nvidia
    environment:
      - MEDIA_DIR=${MEDIA_DIR}
      - SERVER_CONFIG_PATH=${SERVER_CONFIG_PATH}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    volumes:
      - ./data:/app/data:z
      - ./results:/app/results:z
      - ./scripts:/app/scripts:z
      - ./src:/app/src:z
    networks: [prototyping]
    expose: ["8088"]
    command: ["python3", "/app/src/run_demo_server.py"]

  client:
    #attach: false
    build: 
      context: .
      dockerfile: docker/Client.Dockerfile
    container_name: demo-client
    volumes:
      - ./data:/app/data:z
      - ./results:/app/results:z
      - ./scripts:/app/scripts:z
      - ./src:/app/src:z
    networks: [prototyping]
    environment:
      WS_URL: ws://server:8088/ws 
      ZMQ_PUSH_SOCKET: tcp://visualizer:5556
    ports:
      - "5001:5001"
    command: ["python3", "/app/src/client.py"]

  visualizer:
    #attach: false
    build:
      context: ./src/visualizer #Needs to have vis as context
      dockerfile: ../../docker/Visualizer.Dockerfile
    container_name: visualizer
    ports:
      - "5173:5173"
      - "8765:8765"
    environment:
      ZMQ_PULL_SOCKET: tcp://*:5556
    networks: [prototyping]
    stdin_open: true
    tty: true
